@tailwind base;
@tailwind components;
@tailwind utilities;


.marquee-container {
  width: 100%;
  overflow: hidden;
  background: #002741;
  padding: 8px 0;
  position: relative;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  color: white;
  font-weight: 600;
  font-size: 18px;

  /* start outside right */
  padding-left: 100%;

  animation: moveLeft 15s linear infinite;
}

/* desktop animation */
@keyframes moveLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* responsive speed + size */
@media (max-width: 1000px) {
  .marquee-content {
    font-size: 14px;
    animation-duration: 12s;
  }
}

@media (max-width: 600px) {
  .marquee-content {
    font-size: 13px;
    animation-duration: 10s;
  }
}